#devise-session{
  .section-header{
  color: #B7989B;
  font-weight: bold;
  font-size: 50px;
}

.sign-up-form{
  color: #B7989B;
}

#sign-up-button {
  background-color: #701019;
  color: #B7989B;
  border: 1px solid #701019;
}

 .shared-links a {
  color: #701019;
  padding-bottom: 100px;
}

 a:hover {
  color: #B7989B;
  font-weight: bold;
  text-decoration: none;
}

.devise-button {
  background-color: #701019;
  color: #B7989B;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 39px;
}

.devise-button a{
  color: #B7989B;
}

#devise-back-link{
  padding-left: 50px;
}
}

