#devise-session{
  .section-header{
  color: #B7989B;
  font-weight: bold;
  font-size: 50px;
}

.sign-up-form{
  color: #B7989B;
}

#sign-up-button {
  background-color: #701019;
  color: #B7989B;
  margin: 1px solid #701019;
}

 a {
  color: #701019;
  padding-bottom: 100px;
}

 a:hover {
  color: #B7989B;
  font-weight: bold;
  text-decoration: none;
}
}

