
<div class="footer">
  <div class="footer-section">
    <div class="footer-imprint"><p>© SkiAway, Inc.</p></div></div>

<!--About-->
  <div class="footer-section">
    <div class="footer-links">
      <div class="footer-header"><p>About</p></div>
      <a href=""><p>Contact</p></a>
      <a href=""><p>Careers</p></a>
      <a href=""><p>FAQ</p></a>
    </div>
  </div>

  <!--Travelling-->
    <div class="footer-section">
    <div class="footer-links">
      <div class="footer-header"><p>Travelling</p></div>
      <a href=""><p>Why SkiAway</p></a>
      <a href=""><p>Trust & Safety</p></a>
      <a href=""><p>FAQ</p></a>
    </div>
  </div>

  <!--Hosting-->
    <div class="footer-section">
    <div class="footer-links">
      <div class="footer-header"><p>Hosting</p></div>
      <a href=""><p>Why Host</p></a>
      <a href=""><p>Hospitality</p></a>
      <a href=""><p>FAQ</p></a>
    </div>
  </div>

  <!--Icons-->
  <div class="footer-section">
    <div class="footer-icons">
      <div class="icons-wrapper">
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
</div>
