
  <%= render 'shared/banner' %>
  <!-- Discover -->
  <section id="discover">
    <div class="container">
      <div class="row"></div>
      <div class="col-m-4">
        <h2 class="section-heading">Discover</h2>
        <h4 class="section-sub-header">Sub header</h4>
        <div class="card-wrapper"></div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section id="testimonials">
    <div class="container">
      <div class="row"></div>
      <div class="col-m-4">
        <h2 class="section-heading">Testimonials</h2>
        <h4 class="section-sub-header">Sub header</h4>
        <div class="card-wrapper"></div>
      </div>
    </div>
  </section>

  <!-- How it works -->
  <section id="skiaway">
    <div class="container">
      <div class="row"></div>
      <div class="col-m-4">
        <h2 class="section-heading">How it works</h2>
        <h4 class="section-sub-header">Sub header</h4>
        <div class="card-wrapper"></div>
      </div>
    </div>
  </section>


