.card{
  height: 350px;
  width: 400px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 3px gray;
  border-radius: 4px;
}

.card-image{
  height: 190px;
  width: 380px;
  margin-top: 10px;
  border-radius: 4px;
  background-size: 100%
}

.card-content{
  margin-bottom: 10px;
  width: 380px;
  height: 130px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.appartment-type-header{
  color: #701019;
}

.description-header{
  color: #B7989B;
  font-weight: bolder;
}

.price-header{
  color: #B7989B;
}

.card-icons{
  color: #701019;
}



