.large-review-card-container {

}

.large-review-card {
  border-radius: 4px;
  box-shadow: 1px 1px 2px gray;
  border: 1px solid none;
  width: 98%;
  margin: 10px;
  padding: 20px;
  color: #B7989B;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.card-head{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.lg-avatar{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.review-user{
  color: #B7989B;

}

.card-body{
  width: 60%;
  margin-bottom: 87.5px;
}

.sm-avatar{
  height: 4 0px;
  width: 40px;
  border-radius: 50%;
}

.sm-review-card-head{
  font-size: 15px;
  padding: 20px;
}

#testimonial-link a:hover{
  text-decoration: none;
}
