<div class="card">
  <div class="card-image" style="background-image: url('/assets/winter_shack.jpeg')""></div>
  <div class="card-content">
    <div class="appartment-type-header">Entire house</div>
    <div class="description-header">Cosy house in beautiful landscape</div>
    <div class="price-header">From € 150 per night</div>
    <div class="card-icons">
      <i class="fa fa-snowflake-o" aria-hidden="true"></i>
      <i class="fa fa-snowflake-o" aria-hidden="true"></i>
      <i class="fa fa-snowflake-o" aria-hidden="true"></i>
      <i class="fa fa-snowflake-o" aria-hidden="true"></i>
      <i class="fa fa-snowflake-o" aria-hidden="true"></i>
    </div>
  </div>
</div>
